---
import { Image } from 'astro:assets'
import type { ImageMetadata } from 'astro'
import { cn } from '@/utils'

const {
	as: Tag = 'div',
	class: className,
	href,
	heading,
	subheading,
	date,
	imagePath,
	altText,
	imageClass,
	useIcon,
	image,
	iconClass
} = Astro.props
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/*.{jpeg,jpg,png,gif}')

if (imagePath) {
	if (!images[imagePath])
		throw new Error(`"${imagePath}" does not exist in glob: "src/assets/*.{jpeg,jpg,png,gif}"`)
}
---

<Tag
	class={cn(
		className,
		'relative rounded-2xl border border-border bg-primary-foreground px-5 py-3',
		href && 'transition-all hover:border-foreground/25 hover:shadow-sm'
	)}
	href={href}
>
	{
		image && (
			<Image
				src={image}
				alt={altText}
				class={cn('absolute right-2 rounded', imageClass)}
				loading='eager'
			/>
		)
	}
	{
		useIcon && (
			<div class={cn('mb-3 hidden md:absolute md:mb-0 md:block', iconClass)}>
				<span class='flex items-center'>
					<span class='absolute inline-flex h-3 w-3 animate-ping rounded-full border border-green-400 bg-green-400 opacity-75' />
					<span class='relative inline-flex h-3 w-3 rounded-full bg-green-400' />
				</span>
			</div>
		)
	}

	<div class='flex flex-col gap-y-1.5'>
		<div class='flex flex-col gap-y-0.5'>
			<h1 class='text-lg font-medium'>{heading}</h1>
			<h2 class='text-muted-foreground'>{subheading}</h2>
			<h2 class='text-muted-foreground'>{date}</h2>
		</div>
		<slot />
	</div>
</Tag>
